<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EconomicWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EconomicWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.e-conomic.com/secure/api1/EconomicWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EconomicWebServiceSoap"
                contract="EconomicSOAP.EconomicWebServiceSoap" name="EconomicWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>